* {

}

header {
    text-align: center;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 75px;
}

.quizHome {
    display: none;
}

.next {
    position: relative;
    left: 30%;
    top: 120px;
}

.button {
    background-color: blueviolet;
    color: rgb(209, 209, 209);
    border-radius: 25px;
    border-width: 2px;
    width: 300px;
    height: 75px;
    font-size: 15px;
    font-weight: bold;
    max-width: 150px;
}

.inProgress {
    display: flex;
    align-items:center;
    justify-content: center;
}

.Question {
    position: relative;
    left: 11%;
}

.choices {
    position: relative;
    top: 150px;
    right: 0%;
}
